<%- include("_header.html") %>
  <div class="container" style="text-align: center; margin-top: 15px">
    <form autocomplete="off" action="/search" method="post" style="">
      <img src="logo.png" alt="" class="p-5" width="300" /> <br />
      <input type="search" list="browsers" name="searchInput" id="" class="myInput makeWhite" placeholder="Qidiruv..." />
      <select class="myInput makeWhite" id="searchType" name="from" required>
        <option value="none" disabled selected>Tanlang</option>
        <option value="shaxs">Shaxs</option>
        <option value="company">Kompaniya</option>
      </select>
      <button type="submit" class="myInput makeWhite">
        <i class="fas fa-search mainColor"></i>
        Search
      </button>
    </form>
  </div>
  <br />
  <div class="container">
    <div class="makeWhite" style="padding: 15px; border-radius: 15px">
      <table table id="example" class="table" style="margin-top: 20px;">
        <thead class="thead-dark">
          <tr>
            <th scope="col">F.I.Sh</th>
            <th scope="col">Login</th>
            <th scope="col">Parol</th>
            <th scope="col">Daraja</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% for (let i of admins ) { %>
          <tr>
            <td><%= i.fullname %></td>
            <td><%= i.login %></td>
            <td><%= i.password %></td>
            <td><%= i.level %></td>
            <td >
              <a style="text-decoration: none;" href="/edit/company/id=<%= i.id %>">
                📝 
              </a>
              <a style="text-decoration: none;" href="/delete/company/id=<%= i.id %>">
                🗑
              </a>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
  <script src="jquery-3.5.1.js"></script>
  <script src="dataTable.js"></script>
  <script src="dataTables.bootstrap5.min.js"></script>
  <script>
  
   $('#example').DataTable()
  </script>
<%- include("_footer.html")%>
  