<%- include("_header.html") %>
  <div class="container" style="text-align: center; margin-top: 15px">
    <form autocomplete="off" action="/search" method="post" style="">
      <img src="logo.png" alt="" class="p-5" width="300" /> <br />
      <input type="search" list="browsers" name="searchInput" id="" class="myInput makeWhite" placeholder="Qidiruv..." />
      <select class="myInput makeWhite" id="searchType" name="from" required>
        <option value="none" disabled selected>Tanlang</option>
        <option value="shaxs">Shaxs</option>
        <option value="company">Kompaniya</option>
      </select>
      <button type="submit" class="myInput makeWhite">
        <i class="fas fa-search mainColor"></i>
        Search
      </button>
    </form>

    <datalist id="browsers">
      <%
            for ( let singleItem of dataObj ) {
        %>
      <option value='<%= singleItem %>'>
        <%
            }
        %>
    </datalist>
  </div>
  <br />
  <div class="container">
    <div class="makeWhite" style="padding: 15px; border-radius: 15px">
      <table class="table table-borderless" style="border-radius: 15px !important">
        <thead class="bg-primary text-white">
          <tr>
            <th scope="col">№</th>
            <th scope="col">Kompaniya nomi</th>
            <th scope="col">Sana</th>
            <th scope="col">Haqida</th>
            <th scope="col">Davlat</th>
            <th scope="col">Fayllar</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% var count = 1 %>
          <% for (let i of companies ) { %>
          <tr>
            <th scope="row"><%= count %></th>
            <td><%= i.name %></td>
            <td><%= i.data %></td>
            <td><%= i.about %></td>
            <td><%= i.county %></td>
            <td><% for (let x of i.files) { %><a target="__blank" href="<%= x.filesrc %>"><%= x.filename %></a> <% }%></td>
            <td>
              <button onclick="location.href = '/edit/shaxs/id=<%= i.id %>'" class="actionBtn">
                <i class="fas fa-edit"></i>
              </button>
              <button onclick="location.href = '/delete/shaxs/id=<%= i.id %>'" id="delete" class="actionBtn">
                <i class="fas fa-trash-alt"></i>
              </button>
            </td>
          </tr>
          <% count++ %>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
<%- include("_footer.html")%>
  