<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>Database</title>
</head>

<body>
    <div class="header">
        <nav>
            <ul>
                <li>
                    <a href="/adduser">
                        <img class="btn" src="add_user.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="/">
                        <img class="btn" src="logo.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a href="/addcomp">
                        <img class="btn" src="add_company.png" alt="">
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="search">
        <form action="post">

            <div class="type">
                <label>
                    <input name="where" type="radio" value="Shaxs">
                    Shaxs
                </label><br>
                <label>
                    <input name="where" type="radio" value="Kompaniya">
                    Kompaniya
                </label>
            </div>

            <input type="search">
            <input type="submit">
        </form>
    </div>

    <div class="main">
        <table>
            <tr>
                <th class="x4">Kompaniya nomi</th>
                <th class="x">Qayd etilgan joyi</th>
                <th class="x">Kompaniya to'grisida</th>
                <th class="x">Qaysi davlatga tegishli</th>
                <th class="x4">Biriktirilgan fayllari</th>
            </tr>
            <tr>
                <td class="x4">"Ahad Cinema" MCHJ</td>
                <td class="x">Toshkent</td>
                <td class="x">Kino suratga olish</td>
                <td class="x">O'zbekiston</td>
                <td class="x4"></td>
            </tr>
            <tr>
                <td class="x4">"Ahad Cinema" MCHJ</td>
                <td class="x">Toshkent</td>
                <td class="x">Kino suratga olish</td>
                <td class="x">O'zbekiston</td>
                <td class="x4"></td>
            </tr>
            <tr>
                <td class="x4">"Ahad Cinema" MCHJ</td>
                <td class="x">Toshkent</td>
                <td class="x">Kino suratga olish</td>
                <td class="x">O'zbekiston</td>
                <td class="x4"></td>
            </tr>
            <tr>
                <td class="x4">"Ahad Cinema" MCHJ</td>
                <td class="x">Toshkent</td>
                <td class="x">Kino suratga olish</td>
                <td class="x">O'zbekiston</td>
                <td class="x4"></td>
            </tr>
            <tr>
                <td class="x4">"Ahad Cinema" MCHJ</td>
                <td class="x">Toshkent</td>
                <td class="x">Kino suratga olish</td>
                <td class="x">O'zbekiston</td>
                <td class="x4"></td>
            </tr>
            <tr>
                <td class="x4">"Ahad Cinema" MCHJ</td>
                <td class="x">Toshkent</td>
                <td class="x">Kino suratga olish</td>
                <td class="x">O'zbekiston</td>
                <td class="x4"></td>
            </tr>
            <tr>
                <td class="x4">"Ahad Cinema" MCHJ</td>
                <td class="x">Toshkent</td>
                <td class="x">Kino suratga olish</td>
                <td class="x">O'zbekiston</td>
                <td class="x4"></td>
            </tr>
            <tr>
                <td class="x4">"Ahad Cinema" MCHJ</td>
                <td class="x">Toshkent</td>
                <td class="x">Kino suratga olish</td>
                <td class="x">O'zbekiston</td>
                <td class="x4"></td>
            </tr>
            <tr>
                <td class="x4">"Ahad Cinema" MCHJ</td>
                <td class="x">Toshkent</td>
                <td class="x">Kino suratga olish</td>
                <td class="x">O'zbekiston</td>
                <td class="x4"></td>
            </tr>
            <tr>
                <td class="x4">"Ahad Cinema" MCHJ</td>
                <td class="x">Toshkent</td>
                <td class="x">Kino suratga olish</td>
                <td class="x">O'zbekiston</td>
                <td class="x4"></td>
            </tr>
            <tr>
                <td class="x4">"Ahad Cinema" MCHJ</td>
                <td class="x">Toshkent</td>
                <td class="x">Kino suratga olish</td>
                <td class="x">O'zbekiston</td>
                <td class="x4"></td>
            </tr>
            <tr>
                <td class="x4">"Ahad Cinema" MCHJ</td>
                <td class="x">Toshkent</td>
                <td class="x">Kino suratga olish</td>
                <td class="x">O'zbekiston</td>
                <td class="x4"></td>
            </tr>
            <tr>
                <td class="x4">"Ahad Cinema" MCHJ</td>
                <td class="x">Toshkent</td>
                <td class="x">Kino suratga olish</td>
                <td class="x">O'zbekiston</td>
                <td class="x4"></td>
            </tr>
            <tr>
                <td class="x4">"Ahad Cinema" MCHJ</td>
                <td class="x">Toshkent</td>
                <td class="x">Kino suratga olish</td>
                <td class="x">O'zbekiston</td>
                <td class="x4"></td>
            </tr>
            <tr>
                <td class="x4">"Ahad Cinema" MCHJ</td>
                <td class="x">Toshkent</td>
                <td class="x">Kino suratga olish</td>
                <td class="x">O'zbekiston</td>
                <td class="x4"></td>
            </tr>
            <tr>
                <td class="x4">"Ahad Cinema" MCHJ</td>
                <td class="x">Toshkent</td>
                <td class="x">Kino suratga olish</td>
                <td class="x">O'zbekiston</td>
                <td class="x4"></td>
            </tr>
            <tr>
                <td class="x4">"Ahad Cinema" MCHJ</td>
                <td class="x">Toshkent</td>
                <td class="x">Kino suratga olish</td>
                <td class="x">O'zbekiston</td>
                <td class="x4"></td>
            </tr>
            <tr>
                <td class="x4">"Ahad Cinema" MCHJ</td>
                <td class="x">Toshkent</td>
                <td class="x">Kino suratga olish</td>
                <td class="x">O'zbekiston</td>
                <td class="x4"></td>
            </tr>
            <tr>
                <td class="x4">"Ahad Cinema" MCHJ</td>
                <td class="x">Toshkent</td>
                <td class="x">Kino suratga olish</td>
                <td class="x">O'zbekiston</td>
                <td class="x4"></td>
            </tr>
            <tr>
                <td class="x4">"Ahad Cinema" MCHJ</td>
                <td class="x">Toshkent</td>
                <td class="x">Kino suratga olish</td>
                <td class="x">O'zbekiston</td>
                <td class="x4"></td>
            </tr>
        </table>
    </div>
</body>

</html>