<%- include("_header.html") %>

  <div class="container" style="margin: 30px auto;">
    <div class="makeWhite" style="padding: 15px; border-radius: 15px">
      <table table id="example" class="table table-striped">
        <thead class="bg-primary text-white">
          <tr>
            <th scope="col">F.I.Sh</th>
            <th scope="col">Tug'ilgan sanasi  </th>
            <th scope="col">Passport</th>
            <th scope="col">Fuqaroligi</th>
            <th scope="col">Fayllar</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% var count = 1 %>
          <% for ( let i of users ) { %>
            <tr>
              <td><%= i.fullname %></td>
              <td><%= i.birthday %></td>
              <td><%= i.passport %></td>
              <td><%= i.nationality %></td>
              <td><% for (let x of i.files) { %><a target="__blank" href="<%= x.filesrc %>"><%= x.filename %></a> <% }%></td>
              <td >
                <a style="text-decoration: none;" href="/edit/shaxs/id=<%= i.id %>">
                  📝 
                </a>
                <a style="text-decoration: none;" href="/delete/shaxs/id=<%= i.id %>">
                  🗑
                </a>
              </td>
            </tr>
          <% count++ %>
          <% } %>
          <% for ( let i of users ) { %>
            <tr>
              <td><%= i.fullname %></td>
              <td><%= i.birthday %></td>
              <td><%= i.passport %></td>
              <td><%= i.nationality %></td>
              <td><% for (let x of i.files) { %><a target="__blank" href="<%= x.filesrc %>"><%= x.filename %></a> <% }%></td>
              <td >
                <a style="text-decoration: none;" href="/edit/shaxs/id=<%= i.id %>">
                  📝 
                </a>
                <a style="text-decoration: none;" href="/delete/shaxs/id=<%= i.id %>">
                  🗑
                </a>
              </td>
            </tr>
          <% count++ %>
          <% } %>
          <% for ( let i of users ) { %>
            <tr>
              <td><%= i.fullname %></td>
              <td><%= i.birthday %></td>
              <td><%= i.passport %></td>
              <td><%= i.nationality %></td>
              <td><% for (let x of i.files) { %><a target="__blank" href="<%= x.filesrc %>"><%= x.filename %></a> <% }%></td>
              <td >
                <a style="text-decoration: none;" href="/edit/shaxs/id=<%= i.id %>">
                  📝 
                </a>
                <a style="text-decoration: none;" href="/delete/shaxs/id=<%= i.id %>">
                  🗑
                </a>
              </td>
            </tr>
          <% count++ %>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>

  <script src="jquery-3.5.1.js"></script>
  <script src="dataTable.js"></script>
  <script src="dataTables.bootstrap5.min.js"></script>
  <script>
    $(document).ready(function() {
        $('#example').DataTable();
    } );
    console.log($('#example').DataTable());
  </script>
  <%- include("_footer.html")%>
  
