* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: black;
}

.header {
    height: 250px;
    background-color: #11316e;
}

.header nav {
    padding: 10px;
}

.header nav ul {
    display: flex;
    width: 100%;
}

.header nav ul li {
    width: 10%;
    margin: 0 auto;
    margin-top: 30px;
}

.header nav ul li img{
    width: 170px;
}

.search {
    width: 100%;
}

.search form {
    font-size: 21px;
    width: 80%;
    height: 80px;
    margin: 0 auto;
    display: flex;
}

.search form .type {
    margin: 10px;
    margin-left: 150px;
    margin-top: 15px;
}

.search form input[type="search"], .search form input[type="submit"] {
    margin: 10px;
    margin-top: 20px;
    height: 40px;

}

.search form input[type="search"] {
    width: 60%;
    padding: 0 10px;
    font-size: 18px;
}

.search form input[type="submit"] {
    width: 10%;
}

.main {
    width: 100%;
    height: 600px;
    overflow-y: scroll;
}

table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

.main table .x {
    width: 50px;
}
.main table .x4 {
    width: 150px;
}

.main table {
    width: 80%;
    margin: 0 auto;
    font-size: 24px;
}

.main h1 {
    text-align: center;
    margin: 20px;
}

.main form {
    width: 100%;
    text-align: center;
}

.main form .flex {
    width: 30%;
    display: flex;
    margin: 0 auto;
}

.main form .labels label, .main form .inputs input {
    display: block;
    font-size: 18px;
    margin: 20px;
    height: 25px;
}

.main form .flex .labels, .main form .flex .inputs {
    margin: 0 auto; 
}

.main form .flex .inputs input {
    font-size: 14px;
    width: 250px;
    padding-left: 5px;
}

.main form button {
    width: 120px;
    height: 40px;
    margin: 0 auto;
    background-color: transparent;
    border: 2px solid #11316e;
    border-radius: 10px;
    color: #11316e;
}   
.main form button:hover {
    background-color: #11316e;
    color: #fff;
}